<p id="notice"><%= notice %></p>

<p>
  <strong>Sensor:</strong>
  <%= @sensor_datum.sensor %>
</p>

<p>
  <strong>Data:</strong>
  <%= @sensor_datum.data %>
</p>

<%= link_to 'Edit', edit_sensor_datum_path(@sensor_datum) %> |
<%= link_to 'Back', sensor_data_path %>
